
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Eğitim</th>
        <th>Açıklama yaptık</th>
        <th>True</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Spor Adı</th>
        <th>Açıklama yapıldı</th>
        <th>True</th>
    </tr>
</table>